{% extends 'main.html' %}

{% block title %}Авторизация{% endblock %}

{% block login %}
	<div class="span4 offset4" style="margin-top: 30px;">
		<legend>Пожалуйста, авторизуйтесь</legend>
		<form method="POST" action="/profile/login/" accept-charset="UTF-8" style="margin-left: 250px; margin-top: 50px;">
			{% csrf_token %}

            {% if login_error %}
                <label class="alert alert-danger" for="err">{{ login_error }}</label>
                <input type="text" id="err" class="form-control has-error" name="username" placeholder="Логин"  style="display: block; margin: 10px 0; height: 35px; width: 235px;">
            {% else %}
                <input type="text" id="username" class="form-control" name="username" placeholder="Логин"  style="display: block; margin: 10px 0; height: 35px; width: 235px;">
			{% endif %}

			<input type="password" id="password" class="form-control" name="password" placeholder="Пароль" style="display: block; margin: 10px 0; height: 35px; width: 235px;">
			<a href="/profile/register/" style="margin: 0 0 0 150px;">Нет логина?</a>
			<button type="submit" name="submit" class="btn btn-info btn-block" style="width: 235px; margin-top: 10px;">Войти</button>
		</form>    
	</div>
{% endblock %}
